# Node
/ml-server/node_modules/
/public-api/node_modules/
/ml-server/dist/
/public-api/dist/
./node_modules/

# Env
./style-canvas-public.pem
public-api/.env

# IntelliJ IDEA
.idea/

/style-canvas-public.pem
